lightning_logs/
results/
Puzzle-Diff/
/dataset/
/datasets/*
!/datasets/data_splits
dataset_old_delete/
.vscode/
wandb/
*.json
singularity/*.o*
*.csv
*.png
*.ckpt
*.sif
*.pyc
/preprocessed_data/*
Mambaforge-Linux-x86_64.sh
*.zip
*.tar
*.pkl

.idea/
data/*
saves/*
videos/*
images/*
trackers/*